 h3{
    padding-left: 15px;
    background-color: #0e90d2;
    line-height: 40px;
}
 .person{
     overflow: hidden;
 }
.person h4{
    background-color: #0e90d2;
    line-height: 30px;
    cursor: pointer;
}
.us{
    float: left;
    padding: 0;
    width: 60%;
}
.we{
    float: right;
    width: 35%;
    padding: 0;
}
 .we ul{
     padding: 0;
 }
