.cl{
	clear: both;
}
video{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.tabs{
	margin: 0 auto;
}
#tab_content{
	height: 200px;
	background-color: #AAA;
	color: #DDD;
	font-size: 20px;
	padding: 20px;
}
input{
	border: 0;
}